<div class="container-fluid">
<%= link_to 'Back', pins_path %>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
					<div class="panel-heading center">
					<%= image_tag @pin.image.url(:medium)%>
					</div> <!-- panel heading -->

					<div class="panel-body">
					<p><%= @pin.description %></p>
					<p><strong><%=@pin.user.email if @pin.user %></strong></p>

					<% if @pin.user == current_user %>
						<%= link_to edit_pin_path do %>
						<span class="glyphicon glyphicon-edit"></span>
						Edit
						<%end%>
						<%=link_to method: :delete, data: { confirm: 'Are you sure?' } do%>
						<i class="fa-trash-o"></i>
						Delete
						<%end%>
					<%end%>


				</div> <!-- .panel body -->
			</div> <!-- .panel default -->
		</div> <!-- .col -->
	</div> <!-- .row -->
</div> <!-- container -->


